body
  background-color white
  margin 0

.List
  display grid
  grid-template-columns repeat(5, 1fr)
  grid-gap 1em
  width 100%

.Loader
  width 100vw
  height 100vh
  display grid
  place-items center
  background-color red
  color white
  font-size 40px;